@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Playwrite+NL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding:0px;
}
.container{
    display: flex;
}

.sidebar{
    background-color: rgb(245, 238, 238);
   left:-350px;
    font-family: 'fira Sans',sans-serif;
    height: 100vh;
   width: 15vw;
    
}
.main{
 
    width:85vw;
}
.sidebar nav{
    padding: 45px;
   
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
    cursor: pointer;
}
.infocontainer{
    
    height:58vh;
    width:80vw;
    margin:144px auto;
    display:flex;
    justify-content: space-around;
}
.devpic img{
 width:58px;
}
.devinfo{
    display:flex;
   justify-content:center;
   flex-direction: column;
   font-family:"Open Sans", sans-serif;
   margin-left: 80px;
}
.hello{
font-size: 40px;
position:relative;
width: 201px;
}
.hello::after{
    content: '|';
    position: absolute;
     right:0; 
     top: -6px;
     /* left: 0;   */
    background-color: white;
 width:100%; 
 animation:typing 2s steps(11) alternate infinite,
 line 1s infinite ;
}
@keyframes typing {
    to{
        width:0%;
    }
}
@keyframes line {
    50%{
        color: transparent;
    }
    
    
}

.name{
font-size: 35px; 
font-weight: bold;
margin-top: 10px;
}
.about{
font-size: 20px;
}
.moreabout{
    font-size: 20px;
 margin-top: 20px;
    font-family:"Open Sans", sans-serif; ;
}
.button{
margin-top: 30px;

}
.button button{
    padding:9px 14px;
    font-size: 21px;
    font-weight: bold;
    margin:0 3px;
    color:white;
    background-color: dodgerblue;
    border-radius:22px ;
    cursor: pointer;

    box-shadow: 20px black;
}

.button button:hover{
    background-color: red;
    transition-delay: 0.5ms;
    transition-timing-function: linear;
}
.sidebar nav li a{
    text-decoration: none;
    color:black;
}
.sidebar nav li a:hover{
color: red;
font-size: 20px;
}

#bar{
    position: absolute;
    top:10px;
    left: 10px;
    cursor:pointer;
    font-size: 20px;
}
.cross{
   width: 25px;
        position: absolute;
        top:10px;
        left: 155px;
        cursor:pointer;
        font-size: 10px;
        opacity:0;
    }
    
    .check{
        top:12px;
        left: 10px;
        position:absolute;
        opacity: 0;
    } 
    

